html {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

body {
  h1 {
    color: brown;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
}
footer {
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: brown;
  }
}
